*{
    background-color: azure;
    font-family: 'Tilt Neon', cursive;
}
a{
    text-decoration: none;
    color: black;
    padding: auto;
}
a:hover{
    transform: rotateX('180');
}
h1{
    text-align: center;
}
.Title{
    justify-content: center;
}
.container{
    display: flex;
    justify-content: space-evenly;
}
.ImageAccueil{
    max-width: 30%;
    height: auto;
}