body{
    background-color: azure;
    font-family: 'Tilt Neon', cursive;
}
a{
    text-decoration: none;
    color: black;
}
.Title{
    justify-content: center;
}
.container{
    display: flex;
    justify-content: space-evenly;
}